<?xml version="1.0"?>
<configuration>

  <!-- PrestoDashboard -->
  
  <appSettings>
    <add key="selfUpdatingAppName" value="Presto Self-updater"/>
  </appSettings>

  <!-- 29-Dec-2011 - PrestoDatabaseUser was created as a user on the server, and it was given full rights to the Data folder. -->
  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://localhost:8080"/>
  </connectionStrings>
  
  <!-- This startup tag caused warning messages. Commenting it for now. Tried this link, but it didn't work:
       http://stackoverflow.com/questions/3173733/app-config-could-not-find-schema-information-after-converting-to-visual-studio -->
  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
  <!-- Looks like this might be the answer, but it's more effort than I care for at the moment:
       http://stackoverflow.com/questions/4355278/visual-studio-always-selects-the-wrong-xsd-for-app-config -->
  
</configuration>

<!-- Use one of these, above:

appSettings
<add key="databaseNamespace"   value="PrestoCommon.Data.RavenDb"/>

connectionStrings
<add name="RavenDb" connectionString="Url=http://PBG1MES01S500:8080;domain=PBG1MES01S500;user=PrestoDatabaseUser;password=pdbu!884"/>
<add name="RavenDb" connectionString="Url=http://localhost:8080"/>
<add name="RavenDb" connectionString="Url=http://localhost:8080;domain=DellXps;user=PrestoDatabaseUser;password=pdbu!884"/>
-->