<?xml version="1.0"?>
<configuration>
  <!-- PrestoDashboard -->
  <appSettings>
    <add key="prestoServiceAddress" value ="net.tcp://localhost:8597/PrestoWcfService"/>
    <add key="selfUpdatingAppName" value="Presto Self-updater" />
    <add key="emailHost" value="fsbridge.fs.local" />
    <add key="emailFrom" value="pbg.noreply@firstsolar.com" />
    <add key="emailTo" value="Robert.Horn@FirstSolar.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- The dotnetconfigNN.xsd schemas generated build messages that supportedRuntime, version, and sku could
       not be found. Used this answer to update the XSD files. On the VS menu: XML -> Schemas.
       http://stackoverflow.com/questions/4355278/visual-studio-always-selects-the-wrong-xsd-for-app-config -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
<!--
prestoServiceAddress:
<add key="prestoServiceAddress" value ="net.tcp://localhost:8587/PrestoWcfService"/>
<add key="prestoServiceAddress" value ="net.tcp://pbg1mes01s500.fs.local:8587/PrestoWcfService"/>
<add key="prestoServiceAddress" value ="net.tcp://pbg1mes01s500.fs.local:8597/PrestoWcfService"/>
<add key="prestoServiceAddress" value ="net.tcp://Edr1Epc03S150.dev.fs:8587/PrestoWcfService"/>

ClickOnce:
MES:
\\pbgappmest02\First Solar Web\PrestoDashboard\
\\pbgappmest02\First Solar Web\PrestoDashboard_20140716\
http://pbgappmest02/PrestoDashboard/
http://pbgappmest02/PrestoDashboard_20140716/
BAS:
\\Edr1Epc03S150.dev.fs\ClickOnce\PrestoDashboard\
http://Edr1Epc03S150.dev.fs/PrestoDashboard/
-->