<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="databaseServerName" value="FS-3481"/>
    <add key="databaseServerPort" value="8484"/>
    <add key="databaseUser" value="user"/>
    <add key="databasePassword" value="password"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
