<div id="container" class="PageContainer">
    <h2 class="myHeader mainHeader">Application</h2>
    <input type="text" value="{{app.Name}}" placeholder="Name" class="form-control" style="width:30em" />
    <input type="text" value="{{app.Version}}" placeholder="Version" class="form-control" style="width:15em" />
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage" />

    <h2 class="myHeader subHeader">Tasks</h2>
    <div class="OneOfTwo">
        <div class="gridHalf" ui-grid="gridOptions" ui-grid-selection ui-grid-draggable-rows></div>
    </div>

    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="addTask();" ng-disabled="loading">Add</button>
        <button class="btn btn-default" ng-click="editTask();" ng-disabled="selectedTasks.length == 0 || loading">Edit</button>
        <button class="btn btn-default" ng-click="deleteTasks();" ng-disabled="selectedTasks.length == 0 || loading">Delete</button>
        <button class="btn btn-default" ng-click="moveTaskUp();" ng-disabled="selectedTasks.length == 0 || loading"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <button class="btn btn-default" ng-click="moveTaskDown();" ng-disabled="selectedTasks.length == 0 || loading"><span class="glyphicon glyphicon-arrow-down"></span></button>
        <input id="hiddenImport" style="display:none" type="file" on-read-file="importTasks(contents)"/>
        <!-- We want to show the button instead of the input, so when the label is clicked, we're really clicking the input. -->
        <label for="hiddenImport"><button class="btn btn-default" ng-disabled="loading">Import</button></label>
        <button class="btn btn-default" ng-click="exportTasks();" ng-disabled="selectedTasks.length == 0 || loading">Export</button>
        <button class="btn btn-default" ng-click="saveApplication();" ng-disabled="loading || !isDirty">Save</button>
    </h2>

    <h2 class="myHeader subHeader">Custom Variable Groups</h2>
    <div class="TwoOfTwo">
        <div class="gridLessThanHalf" ui-grid="gridOptions2" ui-grid-selection ng-hide="loading"></div>
    </div>
</div>