<div class="modal-header">
    <h3 class="modal-title">Select App and Group</h3>
</div>
<div class="modal-body">
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage" />
    <div style="display:table; margin:0 auto">
        <!-- Center this whole div -->
        <div class="customLabelLeftSkinny">Application</div>
        <div class="customLabelRightSkinny">{{appWithGroups.app.Name}} {{appWithGroups.app.Version}}</div>
        <button class="btn btn-default" ng-click="pickApp();" style="display:inline-block;" ng-disabled="loading">...</button>
        <br />
        <div class="customLabelLeftSkinny">Overrides</div>
        <div class="customLabelRightSkinny">{{appWithGroups.groupNames}}</div>
        <button class="btn btn-default" ng-click="pickOverrides();" style="display:inline-block;" ng-disabled="loading">...</button>
        <br />
        <label>
            <input ng-model="appWithGroups.enabled" type="checkbox" ng-true-value="true"
                   ng-false-value="false" ng-change="setIsDirty()">Enabled
        </label>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>