<div id="container" class="PageContainer">
    <hr />
    <span style="font-size:14px; margin-left:36px;">Count: {{state.filteredApps.length}}</span>

    <!-- The path to the image is relative to index.html, which is one folder above this partial apps.html file. -->
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage waitImageTopGridPosition"/>
    <!-- ng-mousedown="$event.shiftKey && $event.preventDefault()" prevents IE from selecting other DOM elements on shift-click -->
    <div class="gridFull" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns
         ng-dblclick="editApp()" ng-mousedown="$event.shiftKey && $event.preventDefault()"></div>
    <div style="margin-top: 12px; text-align: center;">
        <button class="btn btn-default" ng-click="addApp();" ng-disabled="loading">Add</button>
        <button class="btn btn-default" ng-click="editApp();" ng-disabled="loading">Edit</button>
        <button class="btn btn-default" ng-click="toggleArchived();" ng-disabled="loading">{{state.archiveButtonText}}</button>
        <button class="btn btn-default" ng-click="refresh(true);" ng-disabled="loading">Refresh</button>
    </div>
</div>