<div id="container" class="PageContainer">
    <h2 class="myHeader mainHeader">Global</h2>

    <div style="display:table; margin:0 auto"> <!-- Center this whole div -->
        <div class="listHeaderLeft">Service Address</div>
        <div class="listHeaderRight">{{serviceAddress}}</div>
        <br />
        <div class="listHeaderLeft">$(sys:applicationName)</div>
        <div class="listHeaderRight">The name of the application being installed</div>
        <br />
        <div class="listHeaderLeft">$(sys:applicationVersion)</div>
        <div class="listHeaderRight">The version string of the application being installed</div>
        <br />
        <div class="listHeaderLeft">$(sys:serverName)</div>
        <div class="listHeaderRight">The name of the server where the application is being installed</div>
        <br />
        <div class="listHeaderLeft">$(sys:installationTimestamp)</div>
        <div class="listHeaderRight">Installation start time (yyyyMMdd.HHmmss). Unique value for an installation.</div>
    </div>
</div>
