<div id="container" class="PageContainer">
    <uib-accordion>
        <uib-accordion-group heading="Pending">
            <h2 class="myHeader mainHeader">Pending</h2>
            <div class="gridHalf" ui-grid="gridPending" ui-grid-selection></div>
        </uib-accordion-group>
    </uib-accordion>
    <h2 class="myHeader mainHeader">Installations</h2>
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage waitImageTopGridPosition"/>
    <div class="gridHalf" ui-grid="gridOptions" ui-grid-selection></div>
    <h2 class="myHeader mainHeader" ng-hide="loading">Installation Details</h2>
    <div class="gridHalf" ui-grid="gridOptions2" ui-grid-selection></div>
    <h2 class="myHeader seperator"></h2>
    <div ng-repeat="detail in selectedDetails" class="slide">
        <!-- Use the pre tag so newline characters are honored. -->
        <pre>Details: {{detail.Details}}</pre>
    </div>
    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="refresh(true);" ng-disabled="loading">Refresh</button>
    </h2>
</div>