<div id="container" class="PageContainer">
    <h2 class="myHeader mainHeader">Log Messages</h2>
    <!-- The path to the image is relative to index.html, which is one folder above this partial apps.html file. -->
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage waitImageTopGridPosition"/>
    <div class="gridFull" ui-grid="gridOptions" ui-grid-resize-columns></div>
    <div style="margin-top: 12px; text-align: center;">
        <button class="btn btn-default" ng-click="refresh(true);" ng-disabled="loading">Refresh</button>
    </div
</div>