<div id="container" class="PageContainer">
    <h2 class="myHeader mainHeader">Server</h2>
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage"/>

    <form name="serverForm">
        <div class="row">
            <div class="col-xs-8">
                <input type="text" ng-model="server.Name" placeholder="Name" class="form-control" style="width:40em; margin-left:12px;" />
            </div>
            <div class="col-xs-4">
                <select ng-model="server.InstallationEnvironment" class="form-control"
                        ng-options="env.Name for env in environments track by env.Id">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8">
                <input type="text" ng-model="server.Description" placeholder="Description" class="form-control" style="width:40em; margin-left:12px;" />
            </div>
            <div class="col-xs-2">
                <label><input ng-model="server.EnableDebugLogging" type="checkbox" ng-true-value="true"
                              ng-false-value="false" ng-change="setIsDirty()">Debug Log</label>
            </div>
            <div class="col-xs-2">
                <label><input ng-model="server.Archived" type="checkbox" ng-true-value="true" ng-false-value="false"
                              ng-change="setIsDirty()">Archived</label>
            </div>
        </div>
    </form>

    <h2 class="myHeader subHeader">Apps and Overrides</h2>
    <div class="OneOfTwo">
        <div class="gridHalf" ui-grid="gridAppsWithGroup" ui-grid-selection></div>
    </div>
    
    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="addAppAndGroup();" ng-disabled="loading">Add</button>
        <button class="btn btn-default" ng-click="editAppAndGroup();" ng-disabled="selectedAppsWithGroup.length == 0 || loading">Edit</button>
        <button class="btn btn-default" ng-click="saveServer();" ng-disabled="loading || !serverForm.$dirty">Save</button>
        <button class="btn btn-default" ng-click="install();" ng-disabled="loading">Install</button>
    </h2>

    <h2 class="myHeader subHeader">Custom Variable Groups</h2>
    <div class="TwoOfTwo">
        <div class="gridLessThanHalf" ui-grid="gridGroups" ui-grid-selection></div>
    </div>
    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="addGroup();" ng-disabled="loading">Add</button>
        <button class="btn btn-default" ng-click="deleteGroups();" ng-disabled="selectedGroups.length == 0 || loading">Delete</button>
    </h2>
</div>