<div id="container" class="PageContainer">
    <h2 class="myHeader mainHeader">Server</h2>
    <img id="waitImage" src="images/wait.gif" ng-show="loading" style="height:64px; width:64px; margin:0px auto; display:block;" />
    <label>Name: </label><input type="text" value="{{server.Name}}" style="width:450px" />

    <h2 class="myHeader subHeader">Apps and Overrides</h2>
    <div class="OneOfTwo">
        <div class="gridHalf" ui-grid="gridOptions" ui-grid-selection ng-hide="loading"></div>
    </div>
    
    <h2 class="myHeader footer">
        <button ng-click="install();" ng-disabled="loading">Install</button>
    </h2>

    <h2 class="myHeader subHeader">Custom Variable Groups</h2>
    <div class="TwoOfTwo">
        <div class="gridLessThanHalf" ui-grid="gridOptions2" ui-grid-selection ng-hide="loading"></div>
    </div>
</div>