<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="prestoServiceAddress" value ="net.tcp://pbg1mes01s500.fs.local:8597/PrestoWcfService"/>
  </appSettings>

  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://PBG1MES01S500:8090;domain=PBG1MES01S500;user=PrestoDatabaseUser;password=pdbu!884;database=Presto"/>
  </connectionStrings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
