<?xml version="1.0"?>
<configuration>

  <!-- PrestoWcfService -->

  <appSettings>
    <add key="selfUpdatingAppName" value="Presto Self-updater"/>
    <add key="serviceAddress" value="net.tcp://localhost:8597/PrestoWcfService"/>
    <!-- Do not use localhost for SignalR (unless the callers are also on the same machine). See http://stackoverflow.com/a/16848489/279516 -->
    <add key="signalrAddress" value="http://localhost:8594"/>
    <add key="emailHost" value="fsbridge.fs.local"/>
    <add key="emailFrom" value="pbg.noreply@firstsolar.com"/>
    <add key="emailTo"   value="Robert.Horn@FirstSolar.com"/>
    <add key="emailCustomVariableGroupChanges" value="true"/>
    <add key="emailToForCustomVariableGroupChanges" value="Robert.Horn@FirstSolar.com"/>
    <add key="numberOfDbSessionRequestsToProduceWarning" value="15"/>
  </appSettings>
  
  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://PBG1MES20S801.mfg.fs:8099;domain=PBG1MES20S801.mfg.fs;user=PrestoDatabaseUser;password=pdbu!884;database=Presto"/>
  </connectionStrings>

  <!-- Enable this if we need to diagnose WCF problems. -->
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\Traces.svclog"/>
    </sharedListeners>
  </system.diagnostics>-->
  
  <system.serviceModel>
    <diagnostics wmiProviderEnabled="true">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="1000000" maxSizeOfMessageToLog="20000000"/>
    </diagnostics>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
<!--
serviceAddress:
<add key="serviceAddress" value="net.tcp://localhost:8587/PrestoWcfService"/>
<add key="serviceAddress" value="net.tcp://localhost:8597/PrestoWcfService"/>

RavenDB:
<add name="RavenDb" connectionString="Url=http://localhost:8099;database=Presto"/>
<add name="RavenDb" connectionString="Url=http://PBG1MES01S500:8080;domain=PBG1MES01S500;user=PrestoDatabaseUser;password=pdbu!884"/>
<add name="RavenDb" connectionString="Url=http://PBG1MES01S500:8090;domain=PBG1MES01S500;user=PrestoDatabaseUser;password=pdbu!884;database=Presto"/>
<add name="RavenDb" connectionString="Url=http://PBG1MES20S801.mfg.fs:8099;domain=PBG1MES20S801.mfg.fs;user=PrestoDatabaseUser;password=pdbu!884;database=Presto"/>
<add name="RavenDb" connectionString="Url=http://Edr1Epc03S150.dev.fs:8099"/>

SignalR
<add key="signalrAddress" value="http://localhost:8584"/>
<add key="signalrAddress" value="http://PBG1MES01S500.fs.local:8584"/>
<add key="signalrAddress" value="http://PBG1MES01S500.fs.local:8594"/>
<add key="signalrAddress" value="http://Edr1Epc03S150.dev.fs:8584"/>
-->
