<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <appSettings>
    <add key="databaseServerName" value="DellXps"/>
    <add key="databaseServerPort" value="8484"/>
    <add key="databaseUser"       value="user"/>
    <add key="databasePassword"   value="password"/>
  </appSettings>
  
</configuration>