@*@model PrestoCommon.Entities.Application*@

<script>
    $(function() {
        // Note: This will execute as soon as the main page is loaded.
    });

    function appInitialize(id) {
        $.post('/Home/GetAppById',
            { appId: id },
            OnAppRetrieved);
    }

    function OnAppRetrieved(app) {
        $('#selectedTab').text(app.Name);  // Show the name of the app in the header
        $('#txtAppName').val(app.Name);
        $('#txtAppVersion').val(app.Version);
        $('#txtAppForce').val(app.NameForceInstallation);

        // Add the tasks to the task listview.
        // First, sort the tasks by the Sequence property.
        var tasks = app.Tasks;
        tasks.sort(SortBySequence);

        // Now add the tasks to an array...
        var items = [];
        $.each(tasks, function (index, task) {
            items.push('<li><a href="#">' + task.Description + '</a></li>');  // This renders as undefined. Because JavaScript doesn't understand ObservableCollection<>?
        });
        
        // ... and apply all of the tasks to the listview at one time.
        $('#appTasks').append(items).listview('refresh');  // Need to refresh to get the new items to use the jQuery Mobile formatting
    }

    function SortBySequence(a, b) {
        var aSequence = a.Sequence;
        var bSequence = b.Sequence;
        return ((aSequence < bSequence) ? -1 : ((aSequence > bSequence) ? 1 : 0));
    }
</script>

<form>
    <div data-role="fieldcontain">
         <label for="txtAppName">Name:</label>
         <input type="text" data-mini="true" name="text-14" id="txtAppName" value="">
    </div>
    <div data-role="fieldcontain">
         <label for="txtAppVersion">Version</label>
         <input type="text" data-clear-btn="true" data-mini="true" name="text-15" id="txtAppVersion" value="">
    </div>
    <div data-role="fieldcontain">
        <label for="txtAppForce">Force:</label>
        <input type="text" data-mini="true" name="text-14" id="txtAppForce" value="">
    </div>
    
    <ul id="appTasks" data-role="listview" data-inset="true">
    </ul>
</form>