<div id="container" class="PageContainer">
    <h2 class="myHeader mainHeader">Application</h2>
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage" style="position:absolute; top:35%; left:30%; z-index:100;" />
    <form name="appForm">
        <div class="row">
            <div class="col-xs-6">
                <input type="text" ng-model="app.Name" placeholder="Name" class="form-control" style="width:30em; margin-left:12px;" />
            </div>
            <div class="col-xs-2">
                <input type="text" ng-model="app.Version" placeholder="Version" class="form-control" style="width:15em" />
            </div>
            <div class="col-xs-3 text-right">
                <input ng-model="app.Archived" type="checkbox" ng-true-value="true" ng-false-value="false" ng-change="setIsDirty()">Archived
            </div>
        </div>
        <h2 class="myHeader subHeader">Tasks</h2>
        <div class="OneOfTwo">
            <div class="gridHalf" ui-grid="gridTasks" ui-grid-selection ui-grid-draggable-rows></div>
        </div>
    </form>
    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="addTask();" ng-disabled="loading">Add</button>
        <button class="btn btn-default" ng-click="editTask();" ng-disabled="selectedTasks.length == 0 || loading">Edit</button>
        <button class="btn btn-default" ng-click="deleteTasks();" ng-disabled="selectedTasks.length == 0 || loading">Delete</button>
        <button class="btn btn-default" ng-click="moveTaskUp();" ng-disabled="selectedTasks.length == 0 || loading"><span class="glyphicon glyphicon-arrow-up"></span></button>
        <button class="btn btn-default" ng-click="moveTaskDown();" ng-disabled="selectedTasks.length == 0 || loading"><span class="glyphicon glyphicon-arrow-down"></span></button>
        <input id="hiddenImport" style="display:none" type="file" on-read-file="importTasks(contents)"/>
        <!-- We want to show the button instead of the input, so when the label is clicked, we're really clicking the input. -->
        <label for="hiddenImport"><button class="btn btn-default" ng-disabled="loading">Import</button></label>
        <button class="btn btn-default" ng-click="exportTasks();" ng-disabled="selectedTasks.length == 0 || loading">Export</button>
        <button class="btn btn-default" ng-click="saveApplication();" ng-disabled="loading || !appForm.$dirty">Save</button>
    </h2>

    <h2 class="myHeader subHeader">Custom Variable Groups</h2>
    <div class="TwoOfTwo">
        <div class="gridLessThanHalf" ui-grid="gridGroups" ui-grid-selection ng-hide="loading"></div>
    </div>
    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="addGroup();" ng-disabled="loading">Add</button>
        <button class="btn btn-default" ng-click="deleteGroups();" ng-disabled="selectedGroups.length == 0 || loading">Delete</button>
    </h2>
</div>