<div id="container" class="PageContainer">
    <hr />
    <h2 style="margin-left:36px;">Global Settings</h2>
    <div style="display:table; margin:0 auto"> <!-- Center this whole div -->
        <div class="customLabelLeft">Service Address</div>
        <div class="customLabelRight">{{serviceAddress}}</div>
        <br />
        <div class="customLabelLeft">$(sys:applicationName)</div>
        <div class="customLabelRight">The name of the application being installed</div>
        <br />
        <div class="customLabelLeft">$(sys:applicationVersion)</div>
        <div class="customLabelRight">The version string of the application being installed</div>
        <br />
        <div class="customLabelLeft">$(sys:serverName)</div>
        <div class="customLabelRight">The name of the server where the application is being installed</div>
        <br />
        <div class="customLabelLeft">$(sys:installationTimestamp)</div>
        <div class="customLabelRight">Installation start time (yyyyMMdd.HHmmss). Unique value for an installation.</div>
    </div>
</div>
