<div id="container" class="PageContainer">
    <uib-accordion>
        <uib-accordion-group heading="Pending">
            <h2 class="myHeader mainHeader">Pending</h2>
            <div class="gridHalf" ui-grid="gridPending" ui-grid-selection></div>
        </uib-accordion-group>
    </uib-accordion>
    <h2 class="myHeader mainHeader">Installations</h2>
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage waitImageTopGridPosition"/>
    <div style="display:table; margin:0 auto">
        <!-- Center this whole div -->
        <div class="customLabelLeftSkinny">Application</div>
        <div class="customLabelRight">{{state.selectedApp.Name}} {{state.selectedApp.Version}}</div>
        <button class="btn btn-default" ng-click="pickApp();" style="display:inline-block;" ng-disabled="loading">...</button>
        <button class="btn btn-default" ng-click="clearApp();" style="display:inline-block;" ng-disabled="loading">x</button>
        <br />
        <div class="customLabelLeftSkinny">Server</div>
        <div class="customLabelRight">{{state.selectedServer.Name}}</div>
        <button class="btn btn-default" ng-click="pickServer();" style="display:inline-block;" ng-disabled="loading">...</button>
        <button class="btn btn-default" ng-click="clearServer();" style="display:inline-block;" ng-disabled="loading">x</button>
        <br />
    </div>
    <div class="gridHalf" ui-grid="gridOptions" ui-grid-selection></div>
    <h2 class="myHeader mainHeader" ng-hide="loading">Installation Details</h2>
    <div class="gridHalf" ui-grid="gridOptions2" ui-grid-selection></div>
    <h2 class="myHeader seperator"></h2>
    <div ng-repeat="detail in state.selectedDetails" class="slide">
        <!-- Use the pre tag so newline characters are honored. -->
        <pre>Details: {{detail.Details}}</pre>
    </div>
    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="refresh(true);" ng-disabled="loading">Refresh</button>
    </h2>
</div>