<div id="container" class="PageContainer">
    <h2 class="myHeader mainHeader">Server</h2>
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage"/>
    <input type="text" ng-model="server.Name" placeholder="Name" class="form-control" style="width:30em" />

    <h2 class="myHeader subHeader">Apps and Overrides</h2>
    <div class="OneOfTwo">
        <div class="gridHalf" ui-grid="gridOptions" ui-grid-selection></div>
    </div>
    
    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="saveServer();" ng-disabled="loading">Save</button>
        <button class="btn btn-default" ng-click="install();" ng-disabled="loading">Install</button>
    </h2>

    <h2 class="myHeader subHeader">Custom Variable Groups</h2>
    <div class="TwoOfTwo">
        <div class="gridLessThanHalf" ui-grid="gridGroups" ui-grid-selection></div>
    </div>
    <h2 class="myHeader footer">
        <button class="btn btn-default" ng-click="addGroup();" ng-disabled="loading">Add</button>
        <button class="btn btn-default" ng-click="deleteGroups();" ng-disabled="selectedGroups.length == 0 || loading">Delete</button>
    </h2>
</div>