<div class="modal-header">
    <h3 class="modal-title">Select Task Type</h3>
</div>
<div class="modal-body" style="font-size: medium;">
    <!-- Some buttons are commented because we haven't implemented them yet. -->
    <button class="btn btn-default btn-block" ng-click="onTaskSelected('App')">App</button>
    <button class="btn btn-default btn-block" ng-click="onTaskSelected('CopyFile')">Copy File</button>
    <button class="btn btn-default btn-block" ng-click="onTaskSelected('DosCommand')">DOS Command</button>
    <!--<button class="btn btn-default btn-block" ng-click="onTaskSelected('VersionChecker')">Version Checker</button>-->
    <button class="btn btn-default btn-block" ng-click="onTaskSelected('XmlModify')">XML Modify</button>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>