<div class="modal-header">
    <h3 class="modal-title">DOS Command</h3>
</div>
<div class="modal-body">
    <input ng-model="task.Description" placeholder="Description" class="form-control" style="width:30em;" /><br />
    <input ng-model="task.DosExecutable" placeholder="Executable" class="form-control" style="width:15em;" /><br />
    <input ng-model="task.Parameters" placeholder="Parameters" class="form-control" style="width:30em;" /><br />
    <input ng-model="task.AfterTaskPauseInSeconds" placeholder="Pause (seconds)" class="form-control" style="width:30em;" /><br />
    <input ng-model="task.RunAsUser" placeholder="Run as user" class="form-control" style="width:30em;" /><br />
    <input ng-model="task.RunAsPassword" placeholder="Run as password" class="form-control" style="width:30em;" /><br />
    <input type="checkbox" ng-model="task.FailureCausesAllStop" ng-true-value="1" ng-false-value="0">Failure causes all-stop<br>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>