<div class="modal-header">
    <h3 class="modal-title">Variable</h3>
</div>
<div class="modal-body">
    <img id="waitImage" src="images/wait.gif" ng-show="loading" class="waitImage" />
    <div class="row">
        <div class="class=col-xs-12">
            <input type="text" ng-model="variable.Key" placeholder="Key" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="class=col-xs-9">
            <input type="text" ng-model="variable.Value" placeholder="Value" class="form-control"/>
        </div>
        <div class="class=col-xs-3">
            <button class="btn btn-default" ng-click="encryptValue();">Encrypt</button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>