<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="AppName"                      value="PrestoTaskRunner"/>
    <add key="SourceBinaryPath"             value="C:\Temp\LatestPrestoTaskRunner"/>
    <add key="CheckForNewBinariesInterval"  value="10000"/>
    <add key="MostRecentlyInstalledVersion" value="1.0.0.0"/>
  </appSettings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
