<?xml version="1.0"?>
<configuration>

  <!-- SelfUpdatingServiceHost -->
  
  <appSettings>
    <add key="AppName"                      value="PrestoTaskRunner"/>
    <add key="SourceBinaryPath"             value="\\MesDeployment\MES\Assemblies\Builds\Presto 2.0\PrestoTaskRunner\Debug"/>
    <add key="FullyQualifiedClassName"      value="PrestoTaskRunner.Logic.PrestoTaskRunnerController"/>
    <add key="CheckForNewBinariesInterval"  value="10000"/>
    <add key="MostRecentlyInstalledVersion" value="3.2.1.0"/>
  </appSettings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>

<!-- Use one of these, above:

<add key="SourceBinaryPath"             value="\\MesDeployment\MES\Assemblies\Builds\Presto 2.0\PrestoTaskRunner\Debug"/>
<add key="SourceBinaryPath"             value="C:\Data\Presto2Files\LatestPrestoTaskRunner"/>
<add key="SourceBinaryPath"             value="\\Edr1Epc03S150.dev.fs\BasReleases\Presto 2.0\PrestoTaskRunner\Debug"/>
-->