<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="AppName"                      value="PrestoTaskRunner"/>
    <!--<add key="SourceBinaryPath"             value="\\sys02\h\Business Systems\MES\Assemblies\Builds\Presto 2.0\PrestoTaskRunner\Debug"/>-->    
    <add key="SourceBinaryPath"             value="C:\Data\Presto2Files\LatestPrestoTaskRunner"/>
    <add key="FullyQualifiedClassName"      value="PrestoTaskRunner.Logic.PrestoTaskRunnerController"/>
    <add key="CheckForNewBinariesInterval"  value="10000"/>
    <add key="MostRecentlyInstalledVersion" value="1.0.0.15"/>
  </appSettings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

</configuration>
