/* app css stylesheet */

h2.myHeader {
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ccc;
    color: #fff;
    font-size: 1.3em;
    margin: 12px;
    padding: 0.3em 1em;
    text-shadow: #9FBEB9 1px 1px 1px;
    text-align: center;
}

.mainHeader { background-color: #0B5586; }
.subHeader { background-color: #4494C9; }
.footer { background-color: #afb5b8; }

.userMessage {
    background-color: #7a5a5a;
    font-size: 1.0em !important;
    text-align: left !important;
    text-shadow: none !important;
}

div.OneOfOne { height:550px; overflow:auto }
div.OneOfTwo { height:300px; overflow:auto }
div.TwoOfTwo { height:250px; overflow:auto }
div.PageContainer { width:910px }

.gridLessThanHalf {
    border: 1px solid rgb(212,212,212);
    width: 890px; 
    height: 240px;
}

.gridHalf {
    border: 1px solid rgb(212,212,212);
    width: 890px; 
    height: 290px;
}

.gridFull {
    border: 1px solid rgb(212,212,212);
    width: 890px; 
    height: 500px;
}

.gridFullThin {
    border: 1px solid rgb(212,212,212);
    width: 440px; 
    height: 500px;
}

.waitImage {
    height:64px;
    width:64px;
    margin:0px auto;
    display:block;
    position: absolute;
    left: 400px;
    top: 150px;
}

.red {
    color: red; 
}

.black {
    color: black;
}

.ng-slider {
  background-color: lightblue;
  border-color: black;
  border-width: thin;
  width: 10em;
  height: 2em;
  line-height: 2em;  /* This causes the text to be centered vertically. */
  position: absolute;
  text-align: center;
  font-size: small;
  
  /* Add vendor prefixes as needed */
  transition: top 800ms linear, left 800ms linear;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* ui-grid draggable styling */

.ui-grid-draggable-row {
    height: 30px;
}

.ui-grid-draggable-row-over {
    position: relative;
    color: #AAA;
}

.ui-grid-draggable-row-over:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px dashed #AAA;
}

.ui-grid-draggable-row-over--above:before {
    top: 0;
}

.ui-grid-draggable-row-over--below:before {
    bottom: 0;
}

.app-modal-window .modal-dialog {
  width: 500px;
}

.navBar li {
    display: inline;
}

.navBar li  a {
    list-style: none;    
    width: 115px;
    height: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    border-color: black;
    border-style: groove;
    border-width: thin; 
    background: #d4d4d4;
    text-decoration: none;  /* We don't want the underlines in the navbar link buttons */
    font-size: 0.9em;
}  

.navBar a:hover {
        background: #F0F5F5;
    }

.navBar a.active {
        background: white;
    }