<section>
    <header>
        <button class="btn btn-info pull-right" data-bind="click: refresh">
            <i class="icon-refresh"></i>
        </button>
        <div>
            <h2 class="page-title" data-bind="text: title"></h2>
            <address data-bind="text: apps().length"></address>
            <br/>
        </div>
    </header>    
    <section data-bind="foreach: apps" class="media-list">
        <article>
            <div>
                <address data-bind="text: Name"></address>
            </div>
        </article>
    </section>
</section>