<?xml version="1.0"?>
<configuration>

  <!-- PrestoTaskRunner -->
  
  <appSettings>    
    <add key="timerInterval" value="20000"/>
    <add key="processName"   value="Presto Task Runner"/>
    <add key="emailHost"     value="fsbridge.fs.local"/>
    <add key="emailFrom"     value="pbg.noreply@firstsolar.com"/>
    <add key="emailTo"       value="Robert.Horn@FirstSolar.com"/>
  </appSettings>

  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://PBG1MES01S500:8080;domain=PBG1MES01S500;user=PrestoDatabaseUser;password=pdbu!884"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>

<!-- Use one of these, above:

<add name="RavenDb" connectionString="Url=http://localhost:8099"/>
<add name="RavenDb" connectionString="Url=http://PBG1MES01S500:8080;domain=PBG1MES01S500;user=PrestoDatabaseUser;password=pdbu!884"/>
<add name="RavenDb" connectionString="Url=http://Edr1Epc03S150.dev.fs:8099"/>
-->