<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- PrestoTaskRunner -->
  
  <appSettings>    
    <add key="timerInterval" value="5000" />
    <add key="processName" value="Presto Task Runner" />
    <add key="emailHost" value="fsbridge.fs.local" />
    <add key="emailFrom" value="pbg.noreply@firstsolar.com" />
    <add key="emailTo" value="Robert.Horn @FirstSolar.com" />
    <add key="prestoServiceAddress" value ="net.tcp://pbg1mes01s500.fs.local:8597/PrestoWcfService"/>
    <add key="maxExceptionEmailFrequencyInSeconds" value="3600"/>
    <add key="numberOfDbSessionRequestsToProduceWarning" value="11"/>
  </appSettings>

  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://PBG1MES01S500.fs.local:8090;domain=PBG1MES01S500.fs.local;user=PrestoDatabaseUser;password=pdbu!884;database=Presto"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

<!-- Use one of these, above:

<add key="prestoServiceAddress" value ="net.tcp://localhost:8597/PrestoWcfService"/>
<add key="prestoServiceAddress" value ="net.tcp://pbg1mes01s500.fs.local:8587/PrestoWcfService"/>
<add key="prestoServiceAddress" value ="net.tcp://pbg1mes01s500.fs.local:8597/PrestoWcfService"/>
<add key="prestoServiceAddress" value ="net.tcp://Edr1Epc03S150.dev.fs:8587/PrestoWcfService"/>

<add name="RavenDb" connectionString="Url=http://localhost:8099;database=Presto"/>
<add name="RavenDb" connectionString="Url=http://PBG1MES01S500.fs.local:8080;domain=PBG1MES01S500.fs.local;user=PrestoDatabaseUser;password=pdbu!884"/>
<add name="RavenDb" connectionString="Url=http://PBG1MES01S500.fs.local:8090;domain=PBG1MES01S500.fs.local;user=PrestoDatabaseUser;password=pdbu!884;database=Presto"/>
<add name="RavenDb" connectionString="Url=http://Edr1Epc03S150.dev.fs:8099"/>
-->