<section>
    <header>
        <button class="btn btn-info pull-right" data-bind="click: refresh">
            <i class="icon-refresh"></i>
        </button>
        <h2 class="page-title" data-bind="text: title" style="float:left"></h2>
        <div>
            <address data-bind="text: apps().length"></address>
            <br/>
        </div>
    </header>    
        <!--<section data-bind="foreach: apps" class="media-list">-->
    <!--<article>
            <div>
                <address data-bind="text: Name"></address>
            </div>
        </article>-->

    <!-- From http://view.jquerymobile.com/1.3.2/dist/demos/widgets/listviews/#&ui-state=dialog-->
    
    <!--<ul data-role="listview" data-autodividers="true" data-filter="true" data-inset="true" data-bind="foreach: apps">-->
        <!--<li><address data-bind="text: Name"></address></li>-->
    <!--</ul>-->
    <ul data-role="listview" data-autodividers="true" data-filter="true" data-inset="true">
        <li><a href="index.html">Adam Kinkaid</a></li>
        <li><a href="index.html">Alex Wickerham</a></li>
        <li><a href="index.html">Avery Johnson</a></li>
        <li><a href="index.html">Bob Cabot</a></li>
        <li><a href="index.html">Caleb Booth</a></li>
        <li><a href="index.html">Christopher Adams</a></li>
        <li><a href="index.html">Culver James</a></li>
    </ul>
        <!--</section>-->
</section>