<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- RavenDB -->
    <add key="databaseNamespace" value="PrestoCommon.Data.RavenDb"/>
    <!-- Old. We can fall back to this if we need to. We now use the connection string below.
    <add key="databaseUrl" value="http://server:8080"/>
    -->

    <!-- db4o
    <add key="databaseNamespace" value="PrestoCommon.Data.db4o"/>
    <add key="databaseServerName" value="PBGMSMQT01"/>
    <add key="databaseServerPort" value="8484"/>
    <add key="databaseUser" value="user"/>
    <add key="databasePassword" value="password"/>
     -->
  </appSettings>

  <!-- 29-Dec-2011 - PrestoDatabaseUser was created as a user on the server, and it was given full rights to the Data folder. -->
  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://server:8080;domain=server;user=userName;password=123xyz"/>
  </connectionStrings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
</configuration>
