<?xml version="1.0"?>
<configuration>

  <appSettings>
    <!-- RavenDB -->
    <add key="databaseNamespace" value="PrestoCommon.Data.RavenDb"/>
    <add key="databaseUrl" value="http://localhost:8080"/>

    <!-- db4o
    <add key="databaseNamespace" value="PrestoCommon.Data.db4o"/>
    <add key="databaseServerName" value="PBGMSMQT01"/>
    <add key="databaseServerPort" value="8484"/>
    <add key="databaseUser" value="user"/>
    <add key="databasePassword" value="password"/>
     -->
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
