<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="databaseNamespace"   value="PrestoCommon.Data.RavenDb"/>
    <add key="selfUpdatingAppName" value="Presto Self-updater"/>
  </appSettings>

  <!-- 29-Dec-2011 - PrestoDatabaseUser was created as a user on the server, and it was given full rights to the Data folder. -->
  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://localhost:8080"/>
  </connectionStrings>
  
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
</configuration>

<!-- Use one of these, above:

<add name="RavenDb" connectionString="Url=http://PBG1MES01S500:8080;domain=PBG1MES01S500;user=PrestoDatabaseUser;password=pdbu!884"/>
<add name="RavenDb" connectionString="Url=http://localhost:8080"/>

-->