<?xml version="1.0"?>
<configuration>

  <appSettings>    
    <add key="databaseNamespace"  value="PrestoCommon.Data.RavenDb"/>  <!-- RavenDB -->
    <add key="databaseServerName" value="DellXps"/>
    <add key="databaseServerPort" value="8080"/>
    <add key="databaseUser"       value="user"/>
    <add key="databasePassword"   value="password"/>
    <add key="timerInterval"      value="20000"/>
  </appSettings>

  <connectionStrings>
    <add name="RavenDb" connectionString="Url=http://DellXps:8080;domain=server;user=userName;password=123xyz"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
